body{ font-size: 12px; font-family: Microsoft YaHei ,Arial; color: black;line-height: 1.5;background: url(http://fuckdouban.sinaapp.com/static/images/bg_texture.png) repeat scroll 0 0 #F7F7F7;}
img{border:0;}

ul, li{list-style-type:none;margin:0;}
.blank { height: 5px; clear: both; overflow: hidden; display: block; }
.box{margin:100px auto;width:500px;height:300px;border: 1px solid #CCC;padding: 16px 20px 7px;}
.boxsdw {box-shadow: -1px 2px 2px #F3F3F3;padding: 1px;margin-bottom: 32px;}
.sdw{text-shadow: 0 1px 0.5px #CCC;}
.avatar{float:left;width:120px;}
.info{width:350px;float:left;}

h1{color: #8F0206; font-family: museo-slab,serif;font-weight: 500;line-height: 1.2;font-size: 32px;text-shadow: 0 2px 2px #CCC;margin: 0 0 22px;
text-align:center;
}
/*henter*/
h3{color: #8F0206; font-family: museo-slab,serif;font-weight: 500;line-height: 1.2;font-size: 32px;text-shadow: 0 2px 2px #CCC;margin: 0 0 22px;}

.sitename{text-decoration : none;text-align:left;}
.sitename h1{text-align:left;}

.contact span{display:inline-block;width:100px;text-align:right;padding:0 5px;}
.qr{position:fixed ;margin:-50px 0 0 420px;}

.date{float:right;color:red;}

.douban{width:70%; margin:20px auto;font-size:12px;line-height:28px;}
.douban_list li{line-height:30px;}

.douban_list .h{list-style-type:none;}
.douban_list .h, .douban_list .h span{font-size:16px;font-weight:800;color:#000;}

.table_list .click{text-align:center;}


.content .paragraph{padding:5px 5px 5px 10px;border:1px #C0C0C0 solid;margin-top:10px;word-break : break-all ; word-break : break-all }
.content .paragraph .datetime{float:right; color:#C0C0C0; margin-top:-20px;}
/*回复引用的内容*/
.content .paragraph .content_quote{padding:5px;display:block;border-left:1px #C0C0C0 solid;border-bottom:1px #C0C0C0 solid;color:#666;}

/*别人的回复*/
.content .paragraph .reply{border-left:1px #C0C0C0 solid;padding-left:10px;width:70%;margin-left:50px;color:#666}
.content .paragraph .reply .content_quote{margin-left:-11px;color:#000;height:30px;overflow:hidden; }

.content .pnum{font-size:36px;float:left;position:absolute;margin-left:-165px;display:block;width:150px;text-align:right;}

.content a.pnum { color: #000; text-decoration: none; }
.content a.pnum:hover { color: green; text-decoration: none; }
.content a.pnum:visited { color: green; text-decoration: none; }

.foot{width:90%;margin:0 auto;text-align:center;margin-top:30px;}

/**
  * 分页
  */
.page_box { width: 600px; padding: 10px 0; }
.pagelist { display: block; font-family: "宋体", Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; }
.pagelist .page-numbers { float: left; background-color: #8A6953; border: 1px solid #333; margin: 0 5px; padding: 4px 8px; color: #FFF; text-align: center; }
.pagelist .prev,.pagelist .next { width: auto; }
.pagelist a { float: left; background-color: #fff; border: 1px solid #9ab4e5; margin: 0 5px; padding: 4px 8px; color: #FFF; text-align: center; text-decoration:none;}
.pagelist a:hover { background-color: #8A6953; text-decoration: none; color: #FFF; border: 1px solid #8F0206;}
.pagelist span { float: left; background-color: #d6e2f9; border: 1px solid #9ab4e5; margin: 0 5px; padding: 4px 8px; text-align: center; }
.pagelist .pltitle { width: auto; border: none; background: #8A6953; color: #FFF; }
.pagelist a span { float: none; margin: 0; padding: 0; background-color: #fff; border: none; color: #333; }
.pagelist a:hover span { background-color: #8A6953; text-decoration: none; font-weight: 700; }
.pagelist .current { color: #000; background-color: #FFF; }
